* {
    /* Não altere nada aqui dentro */
    font-family: "Poppins", sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Primeiro */
    --red: #FF0000;
    --green: #30995A;
    --gray: #1D1D1D;

    /* Segundo */
    --red: #FF0000;
    --gray: #1D1D1D;
    --white: #FFFFFF;
}

/* Escreva a partir daqui */

body {
    width: 100vh;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.grid_geral{
    width: 100%;
    height: 100%;
    display: grid;
    columns: 3;
    max-lines: 3;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
}

.centro {
    color: var(--red);
}

p {
    color: white
}